global
    maxconn 200000

defaults
    mode http
    option http-server-close
    timeout connect 2000ms
    timeout client 3600s
    timeout server 3600s
    retries 10

frontend http_front
    bind *:80
    maxconn 200000
    
    # ACLs
    acl is_api path_beg /v1
    acl is_health path_beg /health
    
    # Routing
    use_backend http_back if is_api
    use_backend http_back if is_health
    default_backend dashboard_back

backend http_back
    balance leastconn
    option httpchk GET /health

    server upstream_1 143.248.74.105:8007 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_2 143.248.74.105:8008 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_3 143.248.74.105:8009 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_4 143.248.74.105:8010 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_5 143.248.74.105:8011 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_6 143.248.33.97:8001 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_7 143.248.33.97:8002 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_8 143.248.33.97:8003 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_9 143.248.33.97:8004 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_10 143.248.31.96:8001 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_11 143.248.31.96:8002 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_12 143.248.31.96:8003 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_13 143.248.31.96:8004 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_14 143.248.31.96:8005 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none

    server upstream_15 143.248.33.97:8005 check inter 5s rise 2 fall 3 maxconn 8192 init-addr last,libc,none


backend dashboard_back
    balance roundrobin
    server dashboard central:8080 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
